html {
  width: 100%;
  height: 100%;
}
body {
  background-image: url("background-image.jpg")  ;
  background-size: 200% 200%;
  height: 100%;
  width: 100%;
   animation: background 10s ease; 
  font-family:'Myriad Pro';
 
}


@keyframes background {
  0% {
      background-position: 0% 100%;
 }
  50% {
      background-position: 100% 50%;
 }
}
#mo5 {
 width: 15%;
 object-fit: contain;
 mix-blend-mode:color-burn;
 bottom: 1300px;
 padding: 0 0;
}

#navbar {
  top: 8px;
  font-size: 18px;
  font-weight : 500;
 text-decoration: none;
}
#club:hover {
  color: #1d202b;
  transition: all  ease;
  border-radius: 20%;
}
#history:hover {
  color: #1d202b;
  transition: all ease;
  border-radius: 20%;
}
#home:hover{
  color: #1d202b;
  transition: all ease;
  border-radius: 20%;
}
li,a {
  color: #7f878a;
}
header{
  display: flex;
  justify-content: space-between ;
  align-items: center;
  padding: 30px 10px ;
}
.nav-link{
  list-style: none;
}
.nav-link li{
  display: inline-block;
  padding: 0px 20px;
}
.nav-link li a{
  transition:all 0.3s ease 0s;
}
button{
  bottom: 50px;
  margin-bottom:50px;
  padding:9px 25px;
  background-color:#b0bdc1;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition:all 0.3s ease 0s;
  
}
button:hover{
  background-color:  #0061a8;
}
#home {
  position: absolute;
  right: 530px;
  margin-right: 530px;
  top: 0px;
  margin-top: 0px;
}

#history {
  position: absolute;
  right: 450px;
  margin-right: 450px;
  top: 0px;
  margin-top: 0px;
}

#club {
  position: absolute;
  right: 370px;
  margin-right: 370px;
  top: 0px;
  margin-top: 0px;
}

#register {
  position: absolute;
  right: 0px;
  margin-right: 0px;
  top: 0px;
  margin-top: 0px;
}
.firstBox {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#event {
  position: absolute;
  top: 0px;
  margin-top: 0px;
  left: 135px;
  margin-left: 135px;
  bottom: 50px;
  margin-bottom: 50px;
}
#partners {
  display: flex;
  justify-content: space-around;
  margin-left: 0px;
  position: absolute;
  top:  250px;
  margin-top: 250px;
  right:1550px;
  width: 15%;
  object-fit: contain;
}
#minotore {
  display: flex;
  position: absolute;
  left: 1050px;
  top:68px;



}

#io {
  display: flex;
  position: relative;
  top: 90px;

  left:600px;
}

#venari {
  display: flex;
  position: relative;
 top:105px;
 left:700px;
  
}
h2{
  top:400px;
  left:370px;
  color: #07aff0;
  display: flex;
  position: relative;
  font-size: 4vh;
  -webkit-text-stroke: 0.1vw black;
  text-transform: uppercase;
  }
  .gh{
    top:1500px;
    margin-top: 1500px;
  }
